.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;

  }
  
  .left {
    flex: 1;
  }
  
  .logo {
    margin: 0;
    font-size: 40px;
    font-family: monospace;
    font-style: bold;
  }