body.landing-body {
    display: flex;
    padding: 25px;
    justify-content: space-evenly;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color: #ffffff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tasks {
    display: flex;
    padding: 25px;
    justify-content: space-evenly;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color: #ffffff;
}
a {
    color: black;
    text-decoration: none;
}

.party {
    animation: party 1s infinite;
}

@keyframes party {
    0% {
        background-color: #ff4136;
    }
    25% {
        background-color: #ffdc00;
    }
    50% {
        background-color: #2ecc40;
    }
    75% {
        background-color: #0074d9;
    }
    100% {
        background-color: #f012be;
    }
}

a:hover {
    animation: party 1s infinite;
    text-decoration: underline;
}

.points {
    font-size: 50px; /* Set the font size to 24 pixels */
}
