/* || GENERAL */

body {
    font-family: 'Inter', sans-serif;
}

/* LANDING COMPONENT */

.landing-body {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

/* LOGIN COMPONENT */

.login-outer-div {
    font-weight: 600;

    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 100vh;
}


.existing-fridge-prime {
  padding: 50px;
  width: 600px;
  font-size: 30px;
  background-color: #eeeeee;

  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;  */
  border-radius: 10px;
}
.existing-fridge-prime input {
  /* width: 400px;
  height: 40px; */
  margin-left: 40px;
  background-color: white;
  border: none;
  font-size: 20px;
  text-align: center;
  /* padding: 5px; */
  border-radius: 10px;
}

.existing-fridge-prime .login-button {
  background-color: #62c6ff;
  color: white;
  font-weight: 800;
  padding: 10px;
  margin-bottom: 0px;
  height: 50px;
}

.existing-fridge-prime .login-button:hover {
  cursor: pointer;
}

.existing-fridge-prime .login-button:active {
  background-color: #2a7aa8;
}

.existing-fridge {
    padding: 95px;
    width: 600px;
    font-size: 30px;
    background-color: #eeeeee;

    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
    border-radius: 20px;
}

.existing-fridge input {
    width: 400px;
    height: 40px;
    margin-bottom: 40px;
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}

.existing-fridge .login-button {
    background-color: #62c6ff;
    color: white;
    font-weight: 800;
    padding: 10px;
    margin-bottom: 0px;
    height: 50px;
}

.existing-fridge .login-button:hover {
    cursor: pointer;
}

.existing-fridge .login-button:active {
    background-color: #2a7aa8;
}

/* || HEADER COMPONENT */

.header {
    border: 1px solid black;
}

/* || FRIDGE COMPONENT */

.fridge-outer-div {
    /* border: 1px solid black; */
    width: 90%;
    padding: 10px 40px;
    margin-left: auto;
    margin-right: auto;
}

.fridge-outer-div h2 {
    font-size: 25px;
    font-weight: 600;
    padding-left: 20px;
}

.fridge-outer-div table {
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    background-color: #fef3ff;
    table-layout: auto;
}

.fridge-outer-div th {
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    padding: 20px;
}

.fridge-outer-div tbody {
    text-align: left;
}

.fridge-outer-div td {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
}

/* || ListItem Component */

.request-btn {
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: #6fa0ff;
    color: white;
    border: none;
}

.request-btn:hover {
    cursor: pointer;
}

.request-btn:active {
    background-color: #2a7aa8;
}

/* REQUEST ITEM PAGE */

.requestcontainer {
    border: 1px solid black;
    padding: 30px;
}

.requestcontainer table {
    /* border: 1px solid red; */
    width: 100%;
    padding: 25px;
    table-layout: auto;
}

.requestcontainer th {
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    padding: 20px;
}

.requestcontainer tbody {
    text-align: left;
}

.requestcontainer td {
    /* border: 1px solid blue; */
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #dcf7ff;
}

.requestsection {
    /* border: 1px solid blue; */
    padding: 20px;
    font-size: 25px;
}

.requestsection h3 {
    font-size: 35px;
}

.requestsection label {
    display: flex;
}

.requestsection select {
    margin: 0 10px 0 10px;
    width: 45px;
    font-size: 25px;
    height: 30px;
}

.requestsection-btn {
    margin: 40px 10px 0 0px;
    width: 300px;
    height: 80px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #75cf79;
}

.requestsection-btn:hover {
    cursor: pointer;
}

.requestsection-btn:active {
    background-color: #388d3c;
}

/* ADD INGREDIENT COMPONENT */

.add-ingredient-div {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-ingredient-div label {
    font-size: 20px;
    font-weight: 600;
}

.add-ingredient-div input {
    width: 700px;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 5px;
    font-size: 15px;
    padding: 5px;
    background-color: #eeeeee;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.add-ingredient-div select {
    width: 700px;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 5px;
    font-size: 15px;
    padding: 5px;
    background-color: #eeeeee;
    border: none;
    padding: 5px;
}

.add-ingredient-submit-btn {
    width: 700px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #ff4f79;
    border-radius: 10px;
    border: none;
}

.add-ingredient-submit-btn:hover {
    cursor: pointer;
}

.add-ingredient-submit-btn:active {
    background-color: #c32348;
}
